.site-header{
background-color: #fff;
}

.sitenav-list{
    list-style: none;
}

.sitenav-link{
font-weight: 500;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;
color: black;
}

.main-link{
font-size: 13px;
line-height: 15px;
background-color: #ff7500;
color: #fff;
text-decoration: none;
}


.hero{
background-color: #252420;
color: white;
}

.orange-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

.hero-heading{
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.5px;
}

.hero-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.5px;

}


.hero-content{
    width: 390px;
}

.hero-img{
    width: 510px;
    height: 510px;
}

.feature-heading{
width: 440px;
font-style: 72px;
line-height: 1.2;
letter-spacing: 0.5px;
}

.feature{
width: 340px;
}


.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}


.feature-tittle{
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.5px;
}


.feature-info{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.5px;
}


.promo{
background-color: #252420;
color: #fff;
}


.promo-content{
    width: 440px;
}


.promo-heading{
    width: 400px;
    line-height: 48px;
}

.promo-text{
line-height: 1.5;
}


.promo-highlight{
color: #ff7500;
}


.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.site-footer{
background-color: #f8f8f8;
}

.site-footer ul {
    list-style: none;
}



.site-footer-divider{
    background-color: #25242080;
    height: 2px;
}


.site-footer-links{
    width: 224px;
}



.site-footer-links a {
    text-decoration: none;
    color: #252420;
    font-style: 16px;
    line-height: 19px;
}
