* {
    margin: 0;
    padding: 0;
}

.site-header{
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-around;
    border-top: #ff7500 5px solid;
    padding: 15px 0;
}

.img-link{
    transition: opocity 0.4s ease;
}

.img-link:hover{
    opacity: 0.8;
}

.img-link:active{
    opacity: 0.6;
}

.site-nav{
    display: flex;
    align-items: center;
    gap: 25px;
}

.sitenav-list{
    display: flex;
    font-family: "Roboto", sans-serif;
    list-style: none;
    gap: 32px;
}

.sitenav-link{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav-link:hover{
    color: #ff7500;
}

.sitenav-link:active{
    opacity: 0.6;;
}



.main-link{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    background: #FF7500;
    transition: 0.4s;
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 30px;
}



.main-link-1{
    display: inline-block;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    background: #FF7500;
    transition: 0.4s;
    border-radius: 4px;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    text-decoration: none;
}


.main-link-1:hover{
    opacity:0.8;
}

.main-link-1:active{
    opacity:0.6;
}



.main-link:hover{
    opacity:0.8;
}

.main-link:active{
    opacity:0.6;
}


.hero{
    display: flex;
    background-color: #252420;
    color: white;
    justify-content: space-around;
    align-items: center;
}

.orange-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    border: none;
    margin-bottom: 30px;
}

.hero-heading{
    display: flex;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;

}

.hero-text{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    margin-top: 30px;
}


.hero-content{
    width: 390px;
}

.hero-img{
    width: 510px;
    height: 510px;

}

.feature-heading{
    font-family: "Roboto", sans-serif;
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    max-width: 500px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 72px;
}

.feature{
    width: 400px;
}


.feature-icon-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}


.feature-tittle{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}


.feature-info{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


.promo{
    display: flex;
    background-color: #252420;
    color: #fff;
    justify-content: space-around;
    align-items: center;
    max-width: 1350px;
    padding: 64px 0;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 160px;
}


.promo-content{
    width: 440px;
}


.promo-heading{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    width: 400px;
    line-height: 48px;
    margin-bottom: 10px;
}

.promo-text{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    margin-bottom: 7px;
}


.promo-highlight{
    color: #ff7500;
}


.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

.site-footer{
    background-color: #f8f8f8;
}

.site-footer ul {
    list-style: none;
}



.site-footer-divider{
    width: 1200px;
    height: 2px;
    display: block;
    background: rgba(37, 36, 32, 0.5);
    margin: 0 auto;
    margin-bottom: 64px;

}


.site-footer-links{
    font-family: "Roboto", sans-serif;
    width: 224px;
}



.site-footer-links a {
    text-decoration: none;
    color: #252420;
    font-style: 16px;
    line-height: 19px;
}

.site-footer-links a:hover{
    color: #ff7500;
}

.site-footer-links a:focus{
    opacity: 0.6;
}


.site-footer-socials{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
}


.site-footer-link{
    display: flex;
    justify-content: space-around;
    max-width: 1240px;
    margin: 0 auto;
}



.site-footer-links li{
    margin-bottom: 18px;
}


.link-img{
    display: inline-block;
    margin-left: 350px;
}